body {
    background-image: url("img/logo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
}

.etiquetas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.etiqueta-card {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 15px yellow;
}

.etiqueta-card img {
    margin-top: 10px;
    width: 250px;
    border-radius: 8px;
}

.print-btn {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.print-btn:hover {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}
