body {
    margin: 0;
    padding: 0;
    background-image: url("img/logo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenido {
    padding-top: 30vh;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.table-bordered th,
.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

img {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #000000;
}


form {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(206, 209, 0);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #c3e500
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 60px;
    z-index: 1000;
    overflow: hidden;
}

nav .logo {
    color: rgb(229, 255, 0);
    text-decoration: none;
    padding: 14px 16px;
    text-align: right;
    flex: 1;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3000;
    background-color: #000000;
    color: #bfcd00;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000;
    box-shadow: 0 0 10px rgb(206, 209, 0);
    color: rgb(193, 219, 0);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1500;
}

.sidebar.active {
    left: 0;
}

.sidebar ul li a {
    color: #e5ff00;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.main-content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.active~.main-content {
    margin-left: 250px;
}

.carousel {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 10px 20px;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    background: transparent;
    border: none !important;

}

.carousel-fondo {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 8px;

}

.cuadro2-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.cuadro1 {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(238, 255, 0, 0.2);
    text-align: center;
    color: #e0ce00;
    font-family: 'Georgia', serif;
}

.cuadros-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.cuadro {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(238, 255, 0, 0.2);
    text-align: center;
    color: #e0ce00;
    font-family: 'Georgia', serif;
}

.cuadro h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff200;
}

.cuadro p {
    font-size: 1.1em;
    line-height: 1.6;
}

.sticker {
    width: 300px;
    height: 150px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .sticker {
        border: none;
        width: 300px;
        height: 150px;
        page-break-inside: avoid;
    }

    button {
        display: none;
    }
}

button {
    background-color: #f3ef00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}