<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-avatar"></div>
        <h2>Recuperar contraseña</h2>

        <form method="POST" action="{{ url_for('forgot_password') }}">
            <input type="email" name="email" placeholder="Correo electrónico" required>

            <button type="submit" class="btn-login" style="width: 100%;">Enviar enlace</button>
        </form>
        <a href="{{ url_for('login') }}" class="forgot-password">Volver al inicio de sesión</a>
    </div>
</body>
</html>
