<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Carnes Condoys</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Daniel Babativa, Duvan Londoño</div>
    </nav>
    <h1>Fechas de Vencimiento</h1>
    <button class="toggle-btn">☰</button>
    <div class="sidebar">
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="prediccion">Predicción</a></li>
</div>
    <script>
        const toggleBtn = document.querySelector('.toggle-btn');
        const sidebar = document.querySelector('.sidebar');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
    });
    </script>

    <h1>Predicción de Fecha de Vencimiento</h1>
<form action="/prediccion" method="POST">

    <label for="fecha_corte">Fecha de corte:</label>
    <input type="date" name="fecha_corte" required><br>

    <label for="tipo_carne">Tipo de carne:</label>
    <select name="tipo_carne" required>
    <option value="Cabra">Cabra</option>
</select>
<br>
    <label for="productos">Productos utilizados:</label>
    <select name="productos" required>
    <option value="Sal">Sal</option>
    <option value="Vinagre">Vinagre</option>
    <option value="Condimentos">Condimentos</option>
</select>
<br>
    <label for="empaque">Tipo de empaque:</label>
    <select name="empaque" required>
    <option value="Vacío">Vacío</option>
    <option value="Atmósfera modificada">Atmósfera modificada</option>
</select>
<br>
    <button type="submit">Genera etiqueta</button>
</form>

{% if ruta_imagen %}
    <h3>Etiqueta generada</h3>
    <div id="etiqueta-imprimible" class="Sticker">
    <img src="{{ url_for('static', filename='img/etiqueta_generada.png') }}" alt="Etiqueta generada" style="width:300px;">
    </div>

    <button onclick="imprimirEtiqueta()">🖨️Imprimir </button>
{% endif %}

<script>
    function imprimirEtiqueta() {
    const contenido = document.getElementById('etiqueta-imprimible').outerHTML;
    const ventana = window.open('', '', 'height=800,width=1000');
    ventana.document.write(`
        <html>
        <head>
            <title>Sticker</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
        <body>
            ${contenido}
        </body>
        </html>
    `);
    ventana.document.close();
    ventana.focus();
    ventana.print();
    ventana.close();
    }

</script>

</body>
</html>