<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Coffee Price Prediction</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Daniel Babativa, Duvan Londoño</div>
    </nav>
    <h1>Casos de Uso de Machine Learning</h1>
    <button class="toggle-btn">☰</button>
    <div class="sidebar">
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="casos_de_uso_ML">Casos de Uso ML</a></li>
        <li><a href="prediccion">Predicción</a></li>
</div>
    <script>
        const toggleBtn = document.querySelector('.toggle-btn');
        const sidebar = document.querySelector('.sidebar');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
    });
    </script>

    <h1>Predicción de Fecha de Vencimiento</h1>
<form action="/prediccion" method="POST">

    <label for="fecha_corte">Fecha de corte:</label>
    <input type="date" name="fecha_corte" required><br>

    <label for="tipo_carne">Tipo de carne:</label>
    <input type="text" name="tipo_carne" value="Cabra" required><br>

    <label for="productos">Productos utilizados:</label>
    <input type="text" name="productos" placeholder="Ej: Sal, Vinagre" required><br>

    <label for="empaque">Tipo de empaque:</label>
    <input type="text" name="empaque" placeholder="Ej: Vacío, Atmósfera modificada" required><br>

    <button type="submit">Genera etiqueta</button>
</form>

{% if etiqueta is not none %}
    <div class="etiqueta">
        <h2>CONDOY</h2>
        <p>{{ etiqueta.mensaje }}</p>
    </div>
{% endif %}

</body>
</html>